* {
  margin: 0;
  padding: 0;
}

#root {
  padding: 8px;

  .select-btn {
    padding: 4px 6px;
    min-width: min(130px, 100%);
  }

  .select-list {
    background-color: #ffffffe3;
    z-index: 3;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;

    div[role='option'] {
      padding: 5px 8px;
      border-bottom: 1px solid;
    }
  }

  table {
    td {
      &.change {
        background-color: aquamarine;
      }
    }
  }
}

.modal-overlay {
  background-color: #00000009;
  backdrop-filter: blur(3px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    width: min(calc(100% - 20px), 500px);
    border: 1px solid #000;
    padding: 10px;
    background-color: #ffffffe3;

    .modal-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #000;
      padding-bottom: 5px;
      margin-bottom: 15px;

      button {
        padding: 4px;
      }
    }

    .modal-content {
      form {
        & > div {
          margin-bottom: 12px;
          display: flex;
          gap: 12px;
          align-items: center;
        }
      }
      p {
        color: red;
      }

      button {
        padding: 4px;
      }
    }
  }
}
